html {
  // filter: invert(1);
  background-color: #ff4102;
}
.about {
  // margin-right: 0;
  // margin-left: 0;
  color: #fff;
  align-items: center;
  // padding-bottom: 0;
  position: relative;

  &-me-box {
    // padding: 300px 20%;

    @media screen and (min-width: 1600px) {
      padding: 300px 20% 150px;
    }
    @media screen and (min-width: 2100px) {
      padding: 300px 24% 150px;
    }
    @media screen and (max-width: 1600px) {
      padding: 203px 200px 0 200px;
    }
    @media screen and (max-width: 860px) {
      padding: 80px 16px;
    }
  }
  .burger-menu {
    @media screen and (max-width: 1600px) and (min-width: 1200px) {
      margin-left: 103px !important;
    }
    // @media screen and (max-width: 860px) {
    //   margin-left: inherit !important;
    // }
  }
  #about-clients {
    &.moveImages {
      opacity: 0;
      height: 30vh;
    }
  }
  #something-amazing {
    width: 100%;
    padding: 0 0 0 24%;
    margin-bottom: 24vh;
    margin-top: 600px;
    @media screen and (max-width: 2100px) {
      padding: 0 0 0 20%;
    }
    @media screen and (max-width: 1600px) {
      padding: 0 0 0 100px;
      // height: 80vh;
    }
    @media screen and (max-width: 860px) {
      height: 100%;
      margin-bottom: 40px;
      padding: 0 0 0 16px;
      margin-top: 0;
      padding: 0 16px 0 16px;
    }
  }
  #three-about {
    width: 100vw;
    height: 100%;
    top: 0;
    position: absolute;
    mix-blend-mode: exclusion;
    z-index: 9999;
    pointer-events: none;
  }
  #footer-about {
    position: relative;
    margin-bottom: 0;
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-right: 85px;

    @media screen and (max-width: 860px) {
      height: 108px;
      padding-right: 34px;
    }
    a:first-child {
      grid-column: 6 / 7;
      margin-left: -55px;
      @media screen and (max-width: 860px) {
        grid-column: 4/6;
      }
    }
    a:nth-child(2) {
      grid-column: 7 / 8;
      @media screen and (max-width: 860px) {
        grid-column: 7/8;
      }
    }
    a:last-child {
      grid-column: 8/9;
      @media screen and (max-width: 860px) {
        grid-column: 10/11;
      }
    }
  }
  #info-ring {
    &.moving {
      transform-origin: center;
      transform: rotate(-880deg);
    }
  }
  .info-ring {
    // a:nth-child(2) {
    //   width: 200px;
    //   height: 200px;
    //   margin-top: 129px;
    // }
    width: 156px;
    top: 82px;
    mix-blend-mode: difference;
    @media screen and (max-width: 1600px) {
      width: 112px;
    }
    @media screen and (max-width: 860px) {
      display: none;
    }
    &:first-child {
      margin-top: 141px;
    }
    &:nth-child(2) {
      margin-top: 141px;
      margin-top: 86px;
    }
  }

  .indicators {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin-left: 64px;
    letter-spacing: 1px;
    font-weight: 500;
    background: black;
  }
  .left-link {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    line-height: 2.3;
    display: block;
    margin-left: 39px;
  }
  #about-title {
    transform: translateY(20px);
    animation: 1.3s pushTextUp forwards;
  }
  .start-subtext-anim {
    transform: translateY(10px);
    animation: 1.3s pushTextUp forwards;
  }
  .start-subheadline-anim {
    opacity: 0.3;
    transform: translateY(20px);

    animation: 1s pushTextUp forwards;
    animation-delay: 0.3s;
  }
  .anim-about-text {
    transform: translateY(-20px);
    background: tomato;
    &-delay {
      transform: translateY(-80px);
    }
  }
  @keyframes pushTextUp {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
      transform: translateY(-20px);
    }
  }
  .ic-headline--xl {
    text-align: center;
    margin-bottom: 140px;
    font-family: "Lato", sans-serif;
    text-align: left;
    margin-bottom: 140px;
    font-size: 24px;
    font-weight: 200;
    line-height: 2.4;
    // margin-top: 149px;

    margin: 0 auto;
    // margin-top: 140px;

    font-size: 22px;
    line-height: 2.5;
    letter-spacing: 1px;
    max-width: 987px;

    @media screen and (max-width: 1600px) {
      font-size: 18px;
      line-height: 2;
    }
    @media screen and (max-width: 1200px) {
      font-size: 19px;
    }
    &-xl {
      color: #ffffff;
      letter-spacing: 0;
      line-height: 1.3;
      text-transform: inherit;
      display: block;
      font-family: "Poppins", sans-serif;
      max-width: 1900px;
      text-align: left;
      margin-left: 0;
      line-height: 1.5;
      font-size: 88px;
      font-weight: 400;
      text-transform: lowercase;

      font-size: 64px;
      line-height: 1.3;
      letter-spacing: -0.3px;
      font-size: 4rem; //9

      line-height: 1.3;
      letter-spacing: -0.3px;
      font-size: 3rem;

      font-weight: 200;
      max-width: 49%;
      @media screen and (max-width: 2100px) {
        max-width: 100%;
      }
      @media screen and (max-width: 1600px) {
        // line-height: 1.3;
        // letter-spacing: -0.3px;
        // font-size: 56px;
        // font-size: 120px;
        // font-weight: 500;
        max-width: 100%;
        height: auto;
      }
      @media screen and (max-width: 1200px) {
        margin-left: 0;
        //  font-size: 43px;
      }
      @media screen and (max-width: 860px) {
        font-size: 42px;
        font-size: 40px;
        line-height: 1.3;
        display: inline;
      }
    }
  }
  .about-text__resume {
    display: none;
    @media screen and (max-width: 860px) {
      display: block;
    }
  }
  .about-swiper {
    // overflow: hidden;
    left: 0;
    height: 60vh;

    @media screen and (max-width: 1600px) {
      padding: 0 200px;
      margin-top: 0;
      // height: 90vh;
    }
    .ic-headline--xl {
      font-size: 18px;
      color: #000000;
    }
    .ic-headline--xl-xl {
      text-align: left;
      line-height: 1.2;
      color: #000000;
      width: 800px;
      margin-left: 13vw;
      margin-top: 146px;
      margin-top: 11vh;
      font-weight: 500;
      font-size: 42px;
    }
    .start-subtext-anim {
      min-width: 66%;
    }
    .download-resume {
      &-container {
        width: 100%;
        position: relative;
        left: 0;
        text-align: left;
        margin-top: 160px;
        margin-top: 10px;
        // margin-top: -28px;
        @media screen and (max-width: 1600px) {
          // margin-top: 0;
        }
      }
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      font-family: "Work Sans", sans-serif;
      text-transform: uppercase;
      position: absolute;
      border-top: 2px solid;
      letter-spacing: 1.5px;
      height: 100px;
      transition: all 0.3s cubic-bezier(0.73, 0.57, 0.71, 1.06);
      background: white;
      color: black;
      height: 62px;
      padding: 0 16px;
      padding-top: 24px;
      &:hover {
        // padding-top: 10px;
        // transform: translateY(-3px);
        opacity: 0.2;
      }
    }
    span {
      color: black;
      margin-left: 14vw;
      font-weight: 400;
      max-width: 980px;
      display: block;
      margin-top: 20px;
      font-size: 20px;
      line-height: 1.9;
    }
    .start-subheadline-anim {
      color: #000;
    }

    @media screen and (max-width: 860px) {
      display: none;
    }
  }
  .swiper-container {
    width: 100%;
    height: 137%;
    overflow: visible;
  }
  .scroll-popup {
    position: absolute;
    bottom: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 200px;

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    @media screen and (max-width: 1600px) {
      display: none;
    }
    span {
      background-color: white;
      width: 1px;
      height: 50px;
      display: block;
      border-radius: 8px;
      position: absolute;
      margin: 20px auto;
      left: 0;
      right: 0;
    }
  }
  .aboutOverview {
    // padding-top: 20vh;
    padding-bottom: 92px;
    width: 71vw;
    width: 52vw;
    margin: 0px auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.73, 0.57, 0.71, 1.06);
    padding-bottom: 11vh;
    height: 120%;

    width: 100%;
    padding: 0 24%;
    @media screen and (max-width: 2100px) {
      padding: 0 20%;
    }
    @media screen and (max-width: 1600px) {
      padding: inherit;
      padding-top: 14vh;
      width: 100%;
      height: 180%;
    }
    span {
      margin-left: 0;
    }
  }
  .about-slide {
    display: inline;
    text-align: left;
    line-height: 1.1;
    min-width: 400px;
    display: grid;
    font-size: 18px;
    font-weight: 500;
    min-width: 25%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    @media screen and (max-width: 1600px) {
      min-width: 33%;
    }
    &:not(.swiper-slide-active) {
      //color: #232323 !important;

      p,
      span,
      strong {
        font-weight: 400;
        //     color: #232323 !important;
      }
    }
    p {
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 28px;
      //   color: #000;
    }
    span {
      font-size: 12px;
      color: #aaaaaa;
      //  color: #000;
      display: block;
      line-height: 1.6;
      margin-top: 32px;
      font-weight: 400;
      max-width: 63%;
      @media screen and (max-width: 1600px) {
        // font-size: 18px;
      }
    }
  }
  .copyright-claim {
    font-family: "Work Sans", sans-serif;
    color: #5f5f5f;
    font-weight: 700;
    text-transform: none;
    margin-top: 80px;
    display: block;
    @media screen and (max-width: 1600px) {
      margin-left: 98px;
    }
    @media screen and (max-width: 860px) {
      margin-left: 0;
    }
  }
  .info-section {
    margin-left: 0;
    line-height: 1.9;
    font-size: 24px;
    display: flex;

    h2 {
      font-family: "Work Sans", sans-serif;
      color: #818181;
      color: white;
      font-size: 18px;
      line-height: 1.8;

      font-size: 14px;
      letter-spacing: 0.5px;
      font-family: "Roboto", sans-serif;

      @media screen and (max-width: 1600px) {
        font-size: 16px;
      }
      @media screen and (max-width: 860px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    span {
      color: #fff;
      display: block;
      width: 500px;
      text-transform: uppercase;
      font-weight: 700;
      min-width: fit-content;
      padding-right: 61px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 16px;
      line-height: 2.49;
    }
    @media screen and (max-width: 1600px) {
      font-size: 20px;
      margin-top: 96px;
      margin-top: 32px;
    }
    @media screen and (max-width: 1200px) {
      margin-left: 0;
    }
  }
  .resume-section {
    margin-top: 80px;
    margin-bottom: 80px;
    height: 200px;
  }
  .contact-section {
    height: calc(100vh - 500px);
    align-items: center;
    margin-bottom: 122px;
    width: 71vw;
    padding-left: 300px;
    left: 0;

    .ic-headline--xl-xl strong {
      font-weight: 700;
    }
    .ic-headline--xl-xl {
      font-family: "Roboto", sans-serif;
      font-size: 34px;
      font-weight: 200;

      @media screen and (max-width: 1600px) {
        padding-left: 100px;
        // max-width: 56%;
      }
      @media screen and (max-width: 860px) {
        padding-left: 0;
      }
    }

    #contacts {
      // margin-left: 100px;
    }
    @media screen and (max-width: 860px) {
      height: 400px;
      margin-bottom: 0;

      #contacts {
        padding-top: 20px;
      }
    }
    p {
      font-size: 42px;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      letter-spacing: -1px;
      strong {
        font-weight: 700;
      }
      @media screen and (max-width: 860px) {
        font-size: 32px;
        padding: 0 93px;
        letter-spacing: 0;
        line-height: 1.2;
      }
    }
    #contacts {
      margin-top: 60px;
      @media screen and (max-width: 1600px) {
        padding-left: 100px;
      }
      @media screen and (max-width: 860px) {
        padding-left: 0;
      }
      .symbol {
        font-size: 18px;
        position: absolute;
        right: 0;
        top: 12px;
        @media screen and (max-width: 860px) {
          right: 24px;
          top: 15px;
        }
      }
      .address {
        color: #7c7c7c;
        font-weight: 400;
        font-size: 10px;
        display: block;
        position: absolute;
      }
    }
    div a {
      position: relative;
      border-top: 2px solid;
      padding-top: 36px;
      letter-spacing: 1.5px;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;

      width: 240px;
      display: inline-block;
      width: 27%;
      display: inline-block;
      // margin-right: 56px;
      margin-right: 5%;
      text-align: left;
      text-transform: lowercase;
      font-size: 18px;
      letter-spacing: 1px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      height: 120px;

      font-family: "Roboto", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 14px;
      border-top: 1px solid;
      padding-top: 16px;
      &:hover {
        // padding-top: 0;
        // transform: translateY(-16.5px);
        opacity: 0.2;
      }
      &:hover::after {
        // transform: scaleX(1);
      }
      @media screen and (max-width: 860px) {
        width: 100%;
        height: 80px;
      }
    }
    div a::after {
      content: "";
      transform-origin: center;
      transform: scaleX(0);
      left: 0;
      width: 100%;
      position: absolute;
      border-bottom: 1.5px solid white;
      display: inline;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      height: 38px;
    }
    a,
    p,
    strong {
      // color: black;
    }
  }
  img {
    max-width: 100%;
    // padding: 40px 18px 40px 0;
    // padding: 40px 18px 40px 26px;
    // margin-top: 32px;
    @media screen and (max-width: $sm) {
      // max-width: 350px;
    }
  }
  #portrait {
    position: absolute;
    display: none;
    z-index: -1;
  }
  .about-container {
    // margin-left: -30%;
  }
  .fish {
    // margin-left: 1%;
  }
  #toggleFace {
    height: 4px;
    line-height: 0;
    text-transform: capitalize;

    display: inline-table;
    padding-bottom: 7px;
    // border-bottom: 2px solid white;

    padding-bottom: 9px;
    // border-bottom: 2px solid white;
    font-weight: 400;
    font-family: "Roboto Mono", sans-serif;

    @media screen and (max-width: 860px) {
      display: inline;
      border: none;
    }
  }

  li span {
    font-size: 9px;
    letter-spacing: 2%;
    text-transform: unset;
    padding-left: 15px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    color: #6d6d6d;
    text-align: right;
    display: block;
    line-height: 0;
    margin-top: -10px;
    @media screen and (max-width: 680px) {
      display: none;
    }
  }
  a {
    cursor: pointer;
    color: #fff;
  }

  &-text__section {
    font-family: "Roboto Condensed";
    text-transform: lowercase;
    font-size: 0.7rem;
  }
  &-active {
    animation: 0.8s push-down--pull forwards;
    top: 0;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-hr {
    height: 1px;
    background-color: #1b1b1b;
  }
  &-text__resume {
    line-height: 2.4;

    &-li {
      padding-top: 20px;
      font-weight: 400;
      // color: #737373;

      height: 80px;
      padding-top: 17px;
      font-weight: 200;

      &:last-child {
        border-bottom: 0;
      }
      @media screen and (max-width: 860px) {
        // border-bottom: 1px solid #232323;
        border-bottom: 1px solid;
      }
      @media screen and (max-width: 860px) {
        height: 60px;
        font-size: 16px;
        letter-spacing: 1px;
        padding-top: 20px;
        height: 78px;
        padding-top: 27px;
      }
    }
    &--emphasized {
      font-size: 52px;
      text-transform: capitalize;
      font-family: "Poppins", sans-serif;

      line-height: 1.5;

      @media screen and (max-width: 12000px) {
        font-weight: 300;
        color: #fff;
      }
      @media screen and (max-width: 860px) {
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
  &-headline {
    font-size: 16rem;
    font-style: normal;
    padding: 2rem;
    letter-spacing: 0.4px;
    // width:100%;
    line-height: 1;
    text-shadow: 2px 9px 26px #0909096b;
    text-transform: uppercase;
    color: $color-headline;
    font-family: "Eczar", sans-serif;
  }

  &-clients {
    // width: 71vw;
    // top: 160px;
    // display: flex;
    // position: relative;
    // margin: 0 auto;
    // height: 70vh;
    // top: 0;
    // padding-top: 16vh;
    // height: 100%;
    // margin-bottom: 14vh;

    .ic-headline--xl-xl {
      line-height: 1.3;
      font-size: 48px;
      letter-spacing: -0.5px;
      font-weight: 200;
      max-width: inherit;
      font-family: "Roboto", sans-serif;
      text-transform: none;
      @media screen and (min-width: 1600px) {
        margin-bottom: 31px;
      }
      @media screen and (max-width: 1600px) {
        // line-height: 0.8;
      }
    }
    @media screen and (max-width: 1600px) {
      width: 71vw;
      top: 0;
      padding-top: 13vh;
      width: 88vw;
      .ic-headline--xl-xl {
        // line-height: 1.8;
        // margin-left: -39px;
        // margin-right: -21px;
      }
    }
    @media screen and (max-width: 1100px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 860px) {
      display: block;
      //width: calc(100% - 32px);
      width: 100%;
      .ic-headline--xl-xl {
        font-size: 32px;
        line-height: 1.3;
        margin-left: -5px;
        margin-right: -21px;
      }
    }
  }

  &-me {
    width: 25%;
    align-self: flex-start;
    width: 17%;
    margin: 2rem;

    box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
    & img {
      max-width: 100%;
      min-height: 100%;
      height: inherit;
    }
  }
}
.cursor--canvas-about {
  mix-blend-mode: exclusion;
  &--active {
    transition: all 1.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    mix-blend-mode: exclusion;
    animation: 0.7s animate-opacity forwards;
  }
  &--leaving {
    animation: 0.7s animate-opacity-back;
  }
}

.recommendation {
  font-family: "Roboto", sans-serif;
  text-align: left;
  line-height: 1.2;
  &.hide {
    display: none;
    @media screen and (max-width: 860px) {
      display: block;
      margin-top: 50px;
    }
  }
  &:not(.hide) {
    display: block;
    @media screen and (max-width: 860px) {
      display: none;
    }
  }
  p {
    margin-top: 24px;
  }
  strong {
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
  }
}

@keyframes animate-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-opacity-back {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    mix-blend-mode: normal;
  }
}
@keyframes push-down--pull {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(-70px);
  }
}
