@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700,900&display=swap");
.lis-expansion {
  z-index: 20;
}

.lis-expansion:hover {
  background-color: white;
}

.pinm-r {
  right: 3rem;
}

.pinm-l {
  left: 3rem;
}

.pinm-t {
  top: 3rem;
}

.pinm-b {
  bottom: 3rem;
}

.column-two {
  -webkit-column-count: 2;
          column-count: 2;
}

@media screen and (max-width: 768px) {
  .column-two {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

/*///////COMPONENTS///////*/
a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

p,
h3,
h2,
h1,
li,
strong,
span {
  color: #ffffff;
}

.text--xs {
  font-size: 0.7rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0.8px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

@media screen and (max-width: 768px) {
  .text--xs {
    font-size: calc(12px - 1rem);
  }
}

.text-small {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  letter-spacing: 2%;
  text-transform: unset;
  text-transform: uppercase;
}

.text--sm {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 768px) {
  .text--sm {
    font-size: 24px;
  }
}

.text--md {
  font-family: "Sintony", sans-serif;
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.45;
  letter-spacing: 0.2px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .text--md {
    font-size: 2.3rem;
  }
}

.text--lg {
  font-family: "Eczar", serif;
  color: #ffffff;
  font-size: 5rem;
}

.text--marked {
  background-color: #ededed;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.text--marked::-moz-selection {
  background: #ededed;
}

.text--marked::selection {
  background: #ededed;
}

.text--underline {
  text-decoration: underline;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--emphasized {
  color: #fdfdfd;
}

.text--strong {
  font-weight: 700;
}

.text--queer {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.text--reversed {
  color: #fff9fb;
}

.text--button {
  display: inline;
  color: #1a1a1a;
  z-index: 90;
  text-decoration: underline;
  top: 130px;
  left: -8px;
}

.text--proj {
  color: #fff !important;
}

.text--thin {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 0.66rem;
}

@-webkit-keyframes markText {
  0% {
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes markText {
  0% {
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.headline--gradient {
  color: #094ab2;
  font-size: calc(5.6rem - 3.5rem);
  font-weight: 900;
  font-family: "Anonymous Pro", monospace;
  font-family: "Poppins", sans-serif;
  margin-left: -3.6rem;
  padding-right: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.headline--more {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.headline--xxl {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
  font-size: 14rem;
  letter-spacing: 20px;
  color: #797979;
  white-space: nowrap;
  opacity: 0.2;
  text-transform: lowercase;
}

.headline--md {
  font-family: "Eczar", sans-serif;
  letter-spacing: 1.4rem;
  color: #f7f7f7;
  font-size: 1.8rem;
}

.headline--md--low {
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.headline--sm {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 8px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

@media screen and (min-width: 1600px) {
  .headline--sm {
    font-size: 12px;
  }
}

.headline--xl {
  font-family: "Berthold Akzidenz Grotesk", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 120px;
  line-height: 1;
  margin-bottom: 18px;
  letter-spacing: 0.7px;
}

.headline--xl:hover {
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .headline--xl {
    font-size: 80px;
  }
}

@media screen and (max-width: 680px) {
  .headline--xl {
    font-size: 46px;
    font-weight: 200;
  }
}

.headline--xl-large {
  font-size: 5.6rem;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .headline--xl-large {
    font-size: 2.6rem;
  }
}

.headline--lg {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  color: #ffffff;
  line-height: 1.44;
  letter-spacing: 12px;
  display: inline;
  border-bottom: 15px solid black;
}

@media screen and (max-width: 1200px) {
  .headline--lg {
    font-size: calc(5rem - 2rem);
  }
}

@media screen and (min-width: 1200px) {
  .headline--lg {
    font-size: calc(5rem - 1.5rem);
  }
}

@media screen and (min-width: 1400px) {
  .headline--lg {
    font-size: calc(5rem - 0.7rem);
  }
}

.headline--lg::-moz-selection {
  color: #ef646e;
}

.headline--lg::selection {
  color: #ef646e;
}

ul {
  padding-left: 0;
}

li {
  list-style-position: inside;
  list-style-type: none;
}

.scan-count {
  font-size: 4rem;
  font-weight: 600;
  color: #323232;
}

.scan-count--percent {
  color: #323232 !important;
}

#distortion-text {
  position: absolute;
  margin-top: -2rem;
}

.background-title {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.background-title.letter {
  display: inline-block;
  line-height: 1em;
}

.wheel-item__title .letter {
  display: inline-block;
  line-height: 1em;
}

.text--nav {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: 15.8px;
  font-style: normal;
}

.emphasized {
  color: #094ab2;
}

.nav {
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 115px;
}

@media screen and (max-width: 842px) {
  .nav {
    padding: 0 24px;
  }
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items .toggleabout .text-small {
  font-size: 8px;
  letter-spacing: 2%;
  text-transform: unset;
}

.nav-fast {
  position: absolute;
  right: 72px;
  margin-top: -9px;
}

@media screen and (max-width: 842px) {
  .nav-fast {
    right: 26px;
  }
}

.nav-fast li {
  list-style: none;
}

.nav-fast li.active {
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}

.nav-fast li:last-child {
  margin-left: 48px;
  margin-top: -9px;
}

@media screen and (max-width: 842px) {
  .nav-fast li:last-child {
    margin-left: 24px;
  }
}

.navigation-number__box {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .navigation-number__box {
    margin-bottom: 0;
  }
}

.startscreen {
  overflow-y: hidden;
  background-color: #131313;
  z-index: 60;
}

.startscreen--active {
  -webkit-animation: 0.9s push-up--startscreen forwards;
          animation: 0.9s push-up--startscreen forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.startscreen__title {
  opacity: 0;
  font-size: 0.9rem;
}

.startscreen__title--active {
  -webkit-animation: 0.9s push-down forwards;
          animation: 0.9s push-down forwards;
}

.startscreen__title--reversed {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
}

.navigation-number {
  font-family: "Merriweather", sans-serif;
  color: #363636;
  position: relative;
  top: 33%;
  color: #094ab2;
  font-size: 0.7rem;
  font-weight: 200;
}

@media screen and (min-width: 1600px) {
  .navigation-number {
    font-size: 0.9rem;
  }
}

.navigation-number--active {
  -webkit-animation: 1.3s push-left forwards;
          animation: 1.3s push-left forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#wheel {
  will-change: transform;
}

.quickOverview {
  height: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.8px solid white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150%;
  -webkit-transition: all 0.7s cubic-bezier(0.73, 0.57, 0.71, 1.06);
  transition: all 0.7s cubic-bezier(0.73, 0.57, 0.71, 1.06);
  overflow: hidden;
}

@media screen and (max-width: 842px) {
  .quickOverview {
    width: 255%;
  }
}

.quickOverview-container {
  position: relative;
  display: block;
  width: 100%;
}

.quickOverview a {
  color: white;
  cursor: pointer;
  width: 300px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.footer {
  height: 164px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: #8a8a8a45 solid 0.75px;
  -ms-grid-columns: (12fr)[12];
      grid-template-columns: repeat(12, 12fr);
  font-weight: 800;
  letter-spacing: 6%;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 16px;
  line-height: 1.1;
}

@media screen and (max-width: 842px) {
  .footer {
    position: relative;
  }
}

.footer p,
.footer span {
  color: #ffffff;
}

.footer div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

@media screen and (max-width: 768px) {
  .footer div {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
}

.footer div .text-small {
  font-size: 8px;
  letter-spacing: 2%;
  text-transform: unset;
  padding-left: 15px;
}

.footer a {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

@media screen and (max-width: 768px) {
  .footer a {
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9 / 10;
  }
}

.footer a:last-child {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

@media screen and (max-width: 768px) {
  .footer a:last-child {
    -ms-grid-column: 11;
    -ms-grid-column-span: 1;
    grid-column: 11 / 12;
  }
}

.wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250%;
  padding-left: 26%;
  -webkit-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
  position: relative;
  overflow: visible;
  margin-top: 40vh;
}

@media screen and (max-width: 1300px) {
  .wheel {
    width: 300%;
  }
}

@media screen and (max-width: 842px) {
  .wheel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 42px;
    margin-top: 250px;
    max-width: 335px;
  }
}

.wheel-container {
  position: relative;
  display: block;
  width: 100%;
}

.wheel--active {
  -webkit-animation: 1.8s wheel-up forwards;
          animation: 1.8s wheel-up forwards;
}

.wheel__background {
  height: 300px;
  visibility: hidden;
  opacity: 0.1;
  -webkit-transition: all 1.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wheel-item {
  margin-left: 5%;
  cursor: pointer;
  width: 600px;
  display: block;
}

@media screen and (max-width: 1300px) {
  .wheel-item {
    width: 600px;
  }
}

@media screen and (max-width: 1300px) {
  .wheel-item {
    margin: 32px 0;
  }
}

.wheel-item--active {
  height: 100%;
  z-index: 5;
  width: 100%;
}

.wheel-item__title {
  min-width: 398px;
}

.wheel-item__title-show {
  -webkit-animation: 0.9s push-down forwards;
          animation: 0.9s push-down forwards;
}

.wheel-item__title-hide {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
}

.wheel-item__title .letter {
  opacity: 0;
}

.wheel-item__title--reversed {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
}

.wheel-item__title--reversed-fast {
  -webkit-animation: 0.3s push-up--fast forwards;
          animation: 0.3s push-up--fast forwards;
}

.wheel-item__content {
  top: 45%;
  padding: 250px 600px;
}

@media screen and (max-width: 768px) {
  .wheel-item__content {
    padding: 2rem;
  }
}

.wheel-item__content__button {
  cursor: pointer;
  margin-left: -160px;
}

.wheel-item__content--active {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -22.8vh;
  left: 0;
  padding: inherit;
  z-index: 900;
  position: absolute;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  opacity: 0;
  background-color: #060606;
  -webkit-animation: 0.8s push-down--pull forwards;
          animation: 0.8s push-down--pull forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wheel-item__content--active:first-child {
  margin-left: inherit;
}

.wheel-item__image {
  width: 54vw;
}

.wheel-item__image:after {
  -webkit-box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .wheel-item__image {
    max-width: 66vw;
  }
}

@media screen and (max-width: 786px) and (orientation: portrait) {
  .wheel-item__image {
    width: 66vw;
    margin-left: -7vw;
  }
}

.wheel-item__image--hide {
  -webkit-animation: 0.3s hide-left forwards;
          animation: 0.3s hide-left forwards;
}

.wheel-item__image--show {
  -webkit-animation: 0.7s show-left forwards;
          animation: 0.7s show-left forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wheel-item__image--active {
  -webkit-animation: 0.5s push-up forwards;
          animation: 0.5s push-up forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.controls {
  z-index: 50;
}

.controls > button {
  bottom: 102vh;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: -1px;
  z-index: 40;
}

.controls > button:focus {
  outline: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .controls > button {
    bottom: 20rem;
  }
}

.controls > button:first-child {
  left: 3rem;
}

.controls > button:last-child {
  right: 3rem;
}

.loading-screen {
  margin-left: -4rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  background: -webkit-gradient(linear, left top, right top, from(#313131), to(#404040));
  background: linear-gradient(to right, #313131, #404040);
}

.startscreen-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.99)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
  background: -webkit-gradient(linear, left top, right top, from(#094ab2), to(#3a44f9));
  background: linear-gradient(to right, #094ab2, #3a44f9);
  z-index: 900;
  top: 50vh;
}

.startscreen-gradient--active {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes push-down {
  0% {
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
    clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
}

@keyframes push-down {
  0% {
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
    clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
}

@-webkit-keyframes push-up--startscreen {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  99% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

@keyframes push-up--startscreen {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  99% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

@-webkit-keyframes push-up {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
}

@keyframes push-up {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
}

@-webkit-keyframes push-up--fast {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
  }
}

@keyframes push-up--fast {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
  }
}

@-webkit-keyframes push-down--pull {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    opacity: 0.3;
  }
  75% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
}

@keyframes push-down--pull {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    opacity: 0.3;
  }
  75% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
}

@-webkit-keyframes hide-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

@keyframes hide-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

@-webkit-keyframes show-left {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes show-left {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes push-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes push-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@-webkit-keyframes wheel-up {
  0% {
  }
  100% {
    margin-top: 0;
  }
}

@keyframes wheel-up {
  0% {
  }
  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes simple-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes simple-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes simple-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes simple-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.button__box {
  position: absolute;
  display: inline;
  top: 3vh;
  z-index: 1000;
  width: 100%;
  height: 2vh;
  text-align: center;
}

.button__anim {
  background-color: #1a1a1a;
  width: 0.5px;
  position: absolute;
  height: 40px;
  margin-top: -20px;
  pointer-events: none;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button__anim-load {
  -webkit-animation: buttonSwipe 1s forwards;
          animation: buttonSwipe 1s forwards;
}

.button__anim-active {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button--swipe {
  background-color: inherit;
  width: 150px;
  color: #fff9fb;
  border: none;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.button--scroll {
  background-color: inherit;
  width: 50px;
  color: #fff9fb;
  border: 8px solid #1a1a1a;
  cursor: pointer;
}

.button--bottom {
  top: 90vh;
}

@-webkit-keyframes buttonSwipeBlack {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  10% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  30% {
  }
  100% {
  }
}

@keyframes buttonSwipeBlack {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  10% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  30% {
  }
  100% {
  }
}

@-webkit-keyframes buttonSwipe {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(120);
            transform: scaleX(120);
  }
}

@keyframes buttonSwipe {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(120);
            transform: scaleX(120);
  }
}

/******** ARROWS *******/
.events--Button {
  top: 100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: fixed;
  z-index: 120;
  left: 129px;
  /* color: white; */
}

.button--animate__arrowline--hover {
  -webkit-transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button--animate__arrowlinesvg--hover {
  height: 30px;
  -webkit-transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button--animate__arrowlinesvg--events {
  -webkit-transform-origin: top;
          transform-origin: top;
}

.button--animate__arrowlinesvg--back {
  -webkit-transform-origin: top;
          transform-origin: top;
  margin-top: 88px;
}

.button--animate__arrowlinesvg--hover--events {
  height: 30px;
  -webkit-transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button--animate__arrowlinesvg--hover--back {
  height: 30px;
  -webkit-transition: 700ms cubic-bezier(0.165, 0.84, 0.2, 1);
  transition: 700ms cubic-bezier(0.165, 0.84, 0.2, 1);
}

.button--animate__arrowtop--hover {
  -webkit-transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translate3d(0px, -3px, 0px);
          transform: translate3d(0px, -3px, 0px);
}

.button--animate__arrowtop {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 1.9vh;
  color: #d21628;
  font-size: 3rem;
  top: -23px;
  -webkit-transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button--border {
  border: 2px solid white;
  padding: 5px;
}

.burger-menu {
  width: 70px;
  height: 70px;
  display: inline-block;
  display: inline;
  border: 2px solid #000000;
  border-radius: 999px;
  margin-right: 24px;
  padding: 27px 23px;
}

@media screen and (max-width: 842px) {
  .burger-menu {
    margin-right: -12px;
    width: 48px;
    height: 48px;
  }
}

.burger-menu span {
  display: block;
}

.burger-menu span:first-child {
  width: 20px;
  height: 2px;
  background: #000000;
}

.burger-menu span:last-child {
  width: 16px;
  height: 2px;
  background: #000000;
  margin-top: 6px;
}

.stripe {
  background-color: #dadada;
  width: 0.25rem;
  height: 0.25rem;
  width: 0.2rem;
  height: 0.2rem;
  -webkit-box-shadow: 0px -1px 18px #dadadad1;
          box-shadow: 0px -1px 18px #dadadad1;
  margin-right: 25vh;
}

@media screen and (min-width: 1300px) {
  .stripe {
    margin-right: 33vh;
  }
}

@media screen and (max-width: 400px) {
  .stripe {
    margin-right: 12vh;
  }
}

@media screen and (max-width: 789px) and (orientation: portrait) {
  .stripe {
    margin-right: 13vh;
  }
}

.stripe__line {
  border-top: 1px dotted #222;
  width: 76vh;
}

@media screen and (min-width: 1300px) {
  .stripe__line {
    width: 100vh;
  }
}

@media screen and (max-width: 400px) {
  .stripe__line {
    width: 38vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 400px) {
  .stripe__line {
    width: 76vh;
  }
}

@media screen and (max-width: 789px) and (orientation: portrait) {
  .stripe__line {
    width: 40vh;
  }
}

.stripe__cont {
  bottom: 5vh;
}

@media screen and (max-width: 768px) {
  .stripe__cont {
    bottom: 3vh;
  }
}

@media screen and (max-width: 400px) {
  .stripe__cont {
    bottom: 3vh;
  }
}

@media screen and (max-width: 768px) and (max-height: 260px) and (orientation: landscape) {
  .stripe__cont {
    bottom: -11vh;
  }
}

@media screen and (min-width: 768px) {
  .stripe__cont-p {
    padding-left: 3%;
  }
}

.stripe--active {
  -webkit-box-shadow: 0px -1px 18px #094ab2;
          box-shadow: 0px -1px 18px #094ab2;
  background-color: #094ab2;
  width: 0.2rem;
}

.more-button--sound {
  background-color: white;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.more-button--sound-active {
  background-size: 900% 100%;
}

.more-button--sound-next {
  margin-top: 7px;
  right: 0;
  height: 0.14rem;
  background: #ffffff;
}

.loading-slides {
  width: 100%;
  height: 2px;
}

.loading-slides-inner {
  -webkit-transform-origin: left;
          transform-origin: left;
  height: 5px;
  background: #094ab2;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.progress-line {
  background: white;
  width: 1rem;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.progress-line-toRight {
  -webkit-animation: 0.2s to-right forwards;
          animation: 0.2s to-right forwards;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.progress-line-toLeft {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: 0.4s to-left forwards;
          animation: 0.4s to-left forwards;
  transform-origin: right;
}

@-webkit-keyframes to-right {
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(9);
            transform: scaleX(9);
  }
}

@keyframes to-right {
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(9);
            transform: scaleX(9);
  }
}

@-webkit-keyframes to-left {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(9);
            transform: scaleX(9);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes to-left {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(9);
            transform: scaleX(9);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.ic {
  /* LAYOUT */
}

.ic-text--sm {
  font-size: 0.6rem;
  color: #ffffff;
  letter-spacing: 0.3px;
}

.ic-text--lg {
  font-size: 12px;
  font-weight: 800;
  line-height: 3.3;
  margin-right: 8px;
  text-transform: uppercase;
}

.ic-text__link {
  font-style: italic;
  font-weight: 600;
  font-size: 0.9rem;
}

.ic-headline--xl {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: 0.5px;
  max-width: 600px;
  margin-bottom: 40px;
  margin-left: -55px;
  color: #ffffff;
}

@media screen and (max-width: 1600px) {
  .ic-headline--xl {
    font-size: 46px;
    line-height: 48px;
  }
}

@media screen and (max-width: 768px) {
  .ic-headline--xl {
    font-size: 24px;
    margin-left: 0;
    line-height: 36px;
  }
}

.ic-headline--lg {
  font-size: 3.1rem;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 768px) {
  .ic-headline--lg {
    font-size: 2rem;
  }
}

.ic-headline-startscreen {
  font-size: 0.9rem;
  letter-spacing: 5px;
}

.ic-s-screen--white {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#094ab2), to(#3a44f9));
  background: linear-gradient(#094ab2, #3a44f9);
  left: 0;
  position: relative;
  padding-left: 15rem;
  padding-right: 15rem;
  background: ghostwhite;
  padding-top: 6rem;
  padding-top: 27vh;
  top: 208vh;
}

@media screen and (max-width: 842px) {
  .ic-s-screen--white {
    padding: 19vh 0 0;
  }
}

.ic-s-screen--black {
  width: 100%;
  position: relative;
  margin-top: 80px;
}

@media screen and (max-width: 842px) {
  .ic-s-screen--black img {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .ic-s-screen {
    padding: 2vh 0 0;
  }
}

.wheel-preview__text {
  margin-top: 9rem;
}

@media screen and (max-width: 768px) {
  .wheel-preview__text {
    margin-top: 2rem !important;
    margin-left: -4rem;
  }
}

@media screen and (max-width: 786px) and (orientation: landscape) {
  .wheel-preview__text {
    margin-top: 4rem !important;
  }
}

@media screen and (max-width: 786px) and (orientation: portrait) {
  .wheel-preview__text {
    margin-top: 7rem !important;
    margin-left: -7rem;
  }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
  .wheel-preview__text {
    margin-top: 4rem !important;
    margin-left: -5.6rem;
  }
}

@media screen and (min-width: 1300px) {
  .wheel-preview__text {
    margin-top: 12rem;
  }
}

@media screen and (min-width: 1600px) {
  .wheel-preview__text {
    margin-top: 16rem;
  }
}

/*///////PAGES///////*/
.about {
  margin-right: 0;
  margin-left: 0;
  background-color: #000000;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
}

.about img {
  max-width: 100%;
  padding: 40px 18px;
  margin-top: 32px;
}

.about li span {
  font-size: 8px;
  letter-spacing: 2%;
  text-transform: unset;
  padding-left: 15px;
  font-weight: 200;
}

.about a {
  cursor: pointer;
  color: #fff;
}

.about-text__section {
  font-family: "Roboto Condensed";
  text-transform: lowercase;
  font-size: 0.7rem;
}

.about-active {
  -webkit-animation: 0.8s push-down--pull forwards;
          animation: 0.8s push-down--pull forwards;
  top: 0;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.about-hr {
  height: 1px;
  background-color: #1b1b1b;
}

.about-text__resume {
  line-height: 2.4;
}

.about-text__resume--emphasized {
  font-weight: 600;
}

.about-headline {
  font-size: 16rem;
  font-style: normal;
  padding: 2rem;
  letter-spacing: 0.4px;
  line-height: 1;
  text-shadow: 2px 9px 26px #0909096b;
  text-transform: uppercase;
  color: #f7f7f7;
  font-family: "Eczar", sans-serif;
}

.about-clients {
  width: 39%;
  top: 40px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .about-clients {
    width: 60%;
  }
}

@media screen and (max-width: 842px) {
  .about-clients {
    width: 100%;
    padding: 0 24px;
  }
}

.about-me {
  width: 25%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 17%;
  margin: 2rem;
  -webkit-box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
}

.about-me img {
  max-width: 100%;
  min-height: 100%;
  height: inherit;
}

@keyframes push-down--pull {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}

.single {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
}

.single .item-content__extrainfo-box {
  width: 100%;
  text-align: left;
}

.single-container {
  margin: 0 auto;
  padding: 0px 480px;
}

@media screen and (max-width: 1600px) {
  .single-container {
    padding: 0px 140px;
  }
}

@media screen and (max-width: 768px) {
  .single-container {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 842px) {
  .single .nav {
    padding: 0 24px;
  }
}

.single .nav-fast {
  margin-top: -11px;
}

.single .nav-items .toggleabout:first-child {
  padding-top: 24px;
}

.single .burger-menu {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 2px solid #ffffff;
  width: 62px;
  height: 62px;
  padding: inherit;
}

@media screen and (max-width: 842px) {
  .single .burger-menu {
    width: 48px;
    height: 48px;
    margin-bottom: 25px;
    margin-right: 10px;
    position: absolute;
    margin: 0 auto;
    top: -13px;
    left: 24px;
  }
}

.single .burger-menu:hover {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  background-color: #ffffff;
}

.single .burger-menu img {
  width: 10px;
  margin-left: 23.45px;
  margin-top: 24px;
  padding: 0;
}

@media screen and (max-width: 842px) {
  .single .burger-menu img {
    margin: 17px 17px;
  }
}

.single .headline--xl {
  color: #ffffff;
  font-size: 46px;
}

.single .text--sm {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.single .wheel-preview__text {
  margin-top: 0;
}

.single .wheel-item__content {
  margin-top: 100px;
  padding: 200px 200px;
}

@media screen and (max-width: 1600px) {
  .single .wheel-item__content {
    padding: 250px 50px;
  }
}

@media screen and (max-width: 768px) {
  .single .wheel-item__content {
    padding: 100px 24px;
    overflow: hidden;
  }
}

.single .footer {
  border-top: 0.8px solid #ffffff;
  color: #ffffff;
  position: relative;
}

.single .footer a {
  cursor: pointer;
  color: #ffffff;
}

html {
  background: #000;
}

body {
  overflow-x: hidden;
}

@-webkit-keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

#threejs {
  -webkit-filter: contrast(1.2) brightness(1.3) saturate(0.1);
          filter: contrast(1.2) brightness(1.3) saturate(0.1);
  -webkit-filter: contrast(1.2) brightness(0.7) saturate(0.1);
          filter: contrast(1.2) brightness(0.7) saturate(0.1);
}

#main {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  background-color: #000;
}

@media screen and (min-width: 992px) {
  #main:after {
    content: "";
    height: 300%;
    background-size: 15rem;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    mix-blend-mode: overlay;
    top: -110%;
    width: 300%;
  }
}

img {
  width: auto;
  max-width: inherit;
}
/*# sourceMappingURL=scss.css.map */