.single {
  background-color: $black;
  // height: 100%;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  .item-content__extrainfo-box {
    width: 100%;
    text-align: left;
  }

  &-container {
    margin: 0 auto;
    // padding: 0px 480px;
    @media screen and (max-width: 1600px) {
      // padding: 0px 140px;
    }
    @media screen and (max-width: $sm) {
      padding: 0px 0px;
    }
  }
  .nav {
    @media screen and (max-width: 842px) {
      padding: 0 24px;
    }
  }
  .nav-fast {
    margin-top: -11px;
  }
  .nav-items .toggleabout:first-child {
    padding-top: 24px;
  }
  .burger-menu {
    transition: all 0.5s ease-out;
    border: 2px solid #ffffff;
    width: 62px;
    height: 62px;
    padding: inherit;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 42px;

    @media screen and (max-width: 842px) {
      width: 48px;
      height: 48px;
      margin-bottom: 25px;
      margin-right: 10px;
      position: absolute;
      margin: 0 auto;
      top: -13px;
      left: 24px;
    }
    &:hover {
      transform: scale(0.6);
      background-color: #ffffff;
    }
    img {
      width: 10px;
      margin-left: 23.45px;
      margin-top: 24px;
      padding: 0;
      @media screen and (max-width: 842px) {
        margin: 17px 17px;
      }
    }
  }
  .headline--xl {
    color: #ffffff;
    letter-spacing: 0;
    line-height: 1;
    font-weight: 500;
    font-size: 46px;
  }
  .text--sm {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  .wheel-preview__text {
    margin-top: 0;
  }
  .wheel-item__content {
    
    // padding: 200px 200px;
    margin-top: 146px;
    @media screen and (max-width: 1600px) {
      // padding: 80px 50px;
    }
    @media screen and (max-width: $sm) {
      padding: 100px 24px;
      overflow: hidden;
    }
  }
  .footer {
    // border-top: 0.8px solid #ffffff;
    // color: #ffffff;
    // position: relative;
    a {
      cursor: pointer;
      // color: #ffffff;
    }
  }
}
