.banner {
  width: 100%;
  // background: green;
  display: flex;
  height: 32px;
  margin-bottom: 4px;
  bottom: 102px;
  position: absolute;
  width: calc(100% - 168px);
  margin: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  @media screen and (max-width: 842px) {
    display: none;
  }
  &-container {
    width: auto;
    white-space: nowrap; 
    margin: auto;
    left: 0;
    top:0;
    position: absolute;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 7px;
    
    -moz-transform: translateX(10%); /* Firefox bug fix */
    -webkit-transform: translateX(10%); /* Firefox bug fix */
    transform: translateX(10%); 


    -moz-animation: example1 164s linear infinite;
    -webkit-animation: example1 164s linear infinite;
    animation: example1 164s linear infinite;  
    
    p {
      color: #000000;
      color: #000000;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
  
    }
  }
}
@-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(10%); /* Firefox bug fix */
  -webkit-transform: translateX(10%); /* Firefox bug fix */
  transform: translateX(10%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }