.more-button {
  &--sound {
    //background:linear-gradient(to right, $color--accent, $color--accent-light);
    background-color: white;
    transform-origin: left;
    //border-radius: 14px;
    transition: 0.2s ease-out;

    &-active {
      background-size: 900% 100%;
    }
    &-next {
      margin-top: 7px;
      right: 0;
      height: 0.14rem;
      border-radius: 7px;
      background: #ffffff;
      //background:linear-gradient(to right, #101012, #3F51B5);
      //background:linear-gradient(to right, #a1a1a15c, #10101200);

    }
  }
}

.loading-slides {
  //background-color: rgba(255, 255, 255, 0.06);
  width: 100%;
  height: 2px;
  &-inner {
    transform-origin: left;
    height: 5px;
    background: $color--accent;
    transition: 0.2s ease-out;
  }
}
