.nav {
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 115px;
  top: 5vh;
  padding: 0 34px;
  top: -80px;
  padding: 0 6.5%;
}

@media screen and (max-width: 842px) {
  .nav {
    top: 0;
    padding: 0 24px;
  }
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 680px) {
  .nav-items .name {
    display: none;
  }
}

.nav-items .toggleabout .text-small {
  font-size: 8px;
  letter-spacing: 2%;
  text-transform: unset;
}

.nav-fast {
  position: absolute;
  right: 72px;
  margin-top: -9px;
}

@media screen and (max-width: 842px) {
  .nav-fast {
    right: 26px;
  }
}

.nav-fast li {
  list-style: none;
}

.nav-fast li :after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-fast li :hover:after {
  width: 100%;
  left: 0;
}

.nav-fast li.active {
  background: red;
}

.nav-fast li.active :after {
  width: 100%;
  left: 0;
}

.navigation-number__box {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .navigation-number__box {
    margin-bottom: 0;
  }
}

.startscreen {
  overflow-y: hidden;
  background-color: #131313;
  z-index: 60;
}

.startscreen--active {
  -webkit-animation: 0.9s push-up--startscreen forwards;
          animation: 0.9s push-up--startscreen forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.startscreen__title {
  opacity: 0;
  font-size: 0.9rem;
}

.startscreen__title--active {
  -webkit-animation: 0.9s push-down forwards;
          animation: 0.9s push-down forwards;
}

.startscreen__title--reversed {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
}

.navigation-number {
  font-family: "Merriweather", sans-serif;
  color: #363636;
  position: relative;
  top: 33%;
  color: #094ab2;
  font-size: 0.7rem;
  font-weight: 200;
}

@media screen and (min-width: 1600px) {
  .navigation-number {
    font-size: 0.9rem;
  }
}

.navigation-number--active {
  -webkit-animation: 1.3s push-left forwards;
          animation: 1.3s push-left forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#wheel {
  will-change: transform;
}

.overview-container {
  border-top: 0.8px solid white;
  background: white;
  margin-bottom: 66px;
  border-bottom: 3px solid black;
}

#arrows-black {
  display: none;
}

.quickOverview {
  height: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.2s cubic-bezier(0.73, 0.57, 0.71, 1.06);
  transition: all 0.2s cubic-bezier(0.73, 0.57, 0.71, 1.06);
}

@media screen and (max-width: 842px) {
  .quickOverview {
    height: 118px;
    margin-bottom: 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 89px;
  }
}

.quickOverview-container {
  position: relative;
  display: block;
  width: 100%;
}

.quickOverview a {
  color: #000;
  cursor: pointer;
  width: 300px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-size: 42px;
  min-width: 800px;
  font-weight: 400;
  font-weight: 400;
  letter-spacing: -1px;
}

@media screen and (max-width: 842px) {
  .quickOverview a {
    width: 300px;
    font-size: 16px;
    font-weight: 400;
  }
}

.hidden-thumbnail {
  visibility: hidden;
  display: none;
}

canvas.threejs {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: saturate(1.2);
          filter: saturate(1.2);
}

@media screen and (max-width: 842px) {
  canvas.threejs {
    display: none;
  }
}

.footer {
  height: 164px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (12fr)[12];
      grid-template-columns: repeat(12, 12fr);
  font-weight: 800;
  letter-spacing: 6%;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 16px;
  line-height: 1.1;
  height: 72px;
  margin-bottom: 24px;
  z-index: 200;
}

@media screen and (max-width: 680px) {
  .footer {
    padding-top: 0;
  }
}

.footer a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 680px) {
  .footer a {
    color: #000;
  }
}

.footer a:first-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer a:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

@media screen and (max-width: 680px) {
  .footer a:nth-child(2) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
}

.footer a:nth-child(3) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

@media screen and (max-width: 680px) {
  .footer a:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }
}

.footer.white {
  background-color: #ffffff;
  position: fixed;
  padding-top: inherit;
  display: none;
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 860px) {
  .footer.white {
    display: -ms-grid;
    display: grid;
  }
}

.footer.white a {
  color: #000000;
}

@media screen and (max-width: 842px) {
  .footer {
    position: relative;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    background-color: white;
    position: fixed;
  }
}

.footer p,
.footer .footer div .text-small {
  color: #fff;
  font-family: "Work Sans";
  font-weight: 500;
}

.footer.white p,
.footer .footer.white span,
.footer .footer div .text-small {
  color: #000;
}

.footer div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

@media screen and (max-width: 768px) {
  .footer div {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
}

.footer div .text-small {
  font-size: 8px;
  letter-spacing: 2%;
  text-transform: unset;
  padding-left: 15px;
}

.footer a {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

@media screen and (max-width: 768px) {
  .footer a {
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9 / 10;
  }
}

@media screen and (max-width: 768px) {
  .footer a:last-child {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
  }
}

@-webkit-keyframes footerBlendIn {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes footerBlendIn {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.wheel {
  -webkit-transition: all 1.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  overflow: visible;
  margin-top: 17vh;
  height: 75vh;
  height: 45vh;
}

@media screen and (max-width: 1600px) {
  .wheel {
    margin-top: 16.5vh;
  }
}

@media screen and (max-width: 1300px) {
  .wheel {
    height: 45vh;
    margin-top: 29.5vh;
    margin-top: 23.5vh;
  }
}

@media screen and (max-width: 842px) {
  .wheel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
    max-width: 335px;
    height: 100%;
    margin-left: 24px;
  }
}

.wheel-container {
  position: relative;
  display: block;
  width: 100%;
}

.wheel--active {
  -webkit-animation: 1.8s wheel-up forwards;
          animation: 1.8s wheel-up forwards;
}

.wheel__background {
  height: 300px;
  visibility: hidden;
  opacity: 0.1;
  -webkit-transition: all 1.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wheel-item {
  margin-left: 5%;
  cursor: none;
  display: block;
  width: 1000px;
}

@media screen and (max-width: 1600px) {
  .wheel-item {
    width: 800px;
  }
}

@media screen and (max-width: 1300px) {
  .wheel-item {
    width: 700px;
    margin: 32px 20px;
  }
}

.wheel-item--active {
  height: 100%;
  z-index: 5;
  width: 100%;
}

.wheel-item__title {
  min-width: 398px;
}

.wheel-item__title-show {
  -webkit-animation: 0.9s push-down forwards;
          animation: 0.9s push-down forwards;
}

.wheel-item__title-hide {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
}

.wheel-item__title .letter {
  opacity: 0;
}

.wheel-item__title--reversed {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
}

.wheel-item__title--reversed-fast {
  -webkit-animation: 0.3s push-up--fast forwards;
          animation: 0.3s push-up--fast forwards;
}

.wheel-item__content {
  top: 45%;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .wheel-item__content {
    padding: 2rem;
  }
}

.wheel-item__content__button {
  cursor: pointer;
  margin-left: -160px;
}

.wheel-item__content--active {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -22.8vh;
  left: 0;
  padding: inherit;
  z-index: 900;
  position: absolute;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  opacity: 0;
  background-color: #060606;
  -webkit-animation: 0.8s push-down--pull forwards;
          animation: 0.8s push-down--pull forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wheel-item__content--active:first-child {
  margin-left: inherit;
}

.wheel-item__image {
  width: 54vw;
}

.wheel-item__image:after {
  -webkit-box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .wheel-item__image {
    max-width: 66vw;
  }
}

@media screen and (max-width: 786px) and (orientation: portrait) {
  .wheel-item__image {
    width: 66vw;
    margin-left: -7vw;
  }
}

.wheel-item__image--hide {
  -webkit-animation: 0.3s hide-left forwards;
          animation: 0.3s hide-left forwards;
}

.wheel-item__image--show {
  -webkit-animation: 0.7s show-left forwards;
          animation: 0.7s show-left forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wheel-item__image--active {
  -webkit-animation: 0.5s push-up forwards;
          animation: 0.5s push-up forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.info-ring {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  width: 156px;
  top: 82px;
}

@media screen and (max-width: 1600px) {
  .info-ring {
    width: 112px;
  }
}

html {
  cursor: none;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: white;
}

.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

.cursor--canvas--active {
  mix-blend-mode: exclusion;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container--notouch {
  pointer-events: none;
}

@media screen and (max-width: 680px) {
  .swiper-container {
    padding-bottom: 80px;
  }
}

.swiper-slide:not(.single-slide) {
  min-width: 200px;
  -webkit-transition: all 0.2 cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.2 cubic-bezier(0.645, 0.045, 0.355, 1);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 860px) {
  .swiper-slide:not(.single-slide) {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

#view-ring,
#arrows {
  visibility: hidden;
  display: none;
  position: absolute;
}

.wheel {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}

.wheel:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.swiper-slide:not(.single-slide) div .headline--xl {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (min-width: 860px) {
  .swiper-slide div .headline--xl {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}

@media screen and (max-width: 860px) {
  .swiper-slide div .headline--xl {
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    text-transform: inherit;
    color: #fff;
    letter-spacing: 0;
    line-height: 1;
    font-weight: 500;
    font-size: 38px;
    text-transform: uppercase;
  }
}

.swiper-slide-active:not(.single-slide):hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.swiper-slide-active:not(.single-slide) div .headline--xl {
  color: #fff;
  text-shadow: 2px 7px 10px rgba(0, 0, 0, 0.17);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
}

.swiper-slide:not(.swiper-slide-active, .swiper-slide-prev) {
  -webkit-transform: perspective(500px) rotateY(44deg);
          transform: perspective(500px) rotateY(44deg);
}

.swiper-slide-active:not(.single-slide) {
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
}

.swiper-slide-next:not(.single-slide) {
  -webkit-transform: perspective(500px) rotateY(-24deg) translateX(-300px) rotateZ(5deg);
          transform: perspective(500px) rotateY(-24deg) translateX(-300px) rotateZ(5deg);
}

.swiper-slide-prev:not(.single-slide) {
  -webkit-transform: perspective(500px) rotateY(24deg) translateX(300px);
          transform: perspective(500px) rotateY(24deg) translateX(300px);
}

.controls {
  z-index: 50;
}

.controls > button {
  bottom: 102vh;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: -1px;
  z-index: 40;
}

.controls > button:focus {
  outline: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .controls > button {
    bottom: 20rem;
  }
}

.controls > button:first-child {
  left: 3rem;
}

.controls > button:last-child {
  right: 3rem;
}

.loading-screen {
  margin-left: -4rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  background: -webkit-gradient(linear, left top, right top, from(#313131), to(#404040));
  background: linear-gradient(to right, #313131, #404040);
}

.startscreen-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.99)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
  background: -webkit-gradient(linear, left top, right top, from(#094ab2), to(#3a44f9));
  background: linear-gradient(to right, #094ab2, #3a44f9);
  z-index: 900;
  top: 50vh;
}

.startscreen-gradient--active {
  -webkit-animation: 0.9s push-up forwards;
          animation: 0.9s push-up forwards;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes push-down {
  0% {
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
    clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
}

@keyframes push-down {
  0% {
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
    clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
}

@-webkit-keyframes push-up--startscreen {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  99% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

@keyframes push-up--startscreen {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  99% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

@-webkit-keyframes push-up {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
}

@keyframes push-up {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
}

@-webkit-keyframes push-up--fast {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
  }
}

@keyframes push-up--fast {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
  }
}

@-webkit-keyframes push-down--pull {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
}

@keyframes push-down--pull {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
}

@-webkit-keyframes hide-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

@keyframes hide-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

@-webkit-keyframes show-left {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes show-left {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes push-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes push-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@-webkit-keyframes wheel-up {
  0% {
  }
  100% {
    margin-top: 0;
  }
}

@keyframes wheel-up {
  0% {
  }
  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes simple-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes simple-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes simple-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes simple-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=layout.css.map */