@import "../variables.scss";

.nav {
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 115px;
  top: 5vh;
  padding: 0 34px;

  top: -80px;
  padding: 0 6.5%;

  @media screen and (max-width: 842px) {
    top: 0;
    padding: 0 24px;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  .name {
    @media screen and (max-width: 680px) {
      display: none;
    }
  }
  .toggleabout:first-child {
    // padding-top: 24px;
  }
  .toggleabout .text-small {
    font-size: 8px;
    letter-spacing: 2%;
    text-transform: unset;
    // padding-left: 15px;
  }
}

.nav-fast {
  position: absolute;
  right: 72px;
  margin-top: -9px;
  // a:hover:after {
  //   width: 100%;
  //   left: 0;
  // }
  @media screen and (max-width: 842px) {
    right: 26px;
  }
  & li {
    list-style: none;
    :after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    :hover:after {
      width: 100%;
      left: 0;
    }
  }
}
.nav-fast li.active {
  // border-bottom: 1px solid #fff;
  // padding-bottom: 3px;
  background: red;
  :after {
    width: 100%;
    left: 0;
  }
}
li:last-child {
  // margin-left: 48px;
  // margin-left: 86px;
  // margin-top: -9px;
  @media screen and (max-width: 842px) {
    // margin-left: 24px;
  }
}

.navigation-number__box {
  margin-bottom: 1rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}
.startscreen {
  overflow-y: hidden;
  background-color: #131313;
  z-index: 60;
  &--active {
    animation: 0.9s push-up--startscreen forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &__title {
    opacity: 0;
    font-size: 0.9rem;
    &--active {
      animation: 0.9s push-down forwards;
    }
    &--reversed {
      animation: 0.9s push-up forwards;
    }
  }
}
.navigation-number {
  font-family: "Merriweather", sans-serif;

  color: #363636;
  position: relative;
  top: 33%;
  color: $color--accent;
  font-size: 0.7rem;
  font-weight: 200;
  @media screen and (min-width: 1600px) {
    font-size: 0.9rem;
  }
  &--active {
    animation: 1.3s push-left forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

#wheel {
  will-change: transform;
}
.overview-container {
  border-top: 0.8px solid white;
}
.quickOverview {
  height: 208px;
  padding-bottom: 92px;
  display: flex;
  align-content: center;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 150%;
  transition: all 0.7s cubic-bezier(0.73, 0.57, 0.71, 1.06);
  overflow: hidden;
  @media screen and (max-width: 842px) {
    // width: 255%;
    height: 118px;
    margin-bottom: 14px;
    width: fit-content;
    padding-top: 89px;
  }
  &-container {
    position: relative;
    display: block;
    width: 100%;
  }
  a {
    color: white;
    cursor: pointer;
    width: 300px;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;

    @media screen and (max-width: 842px) {
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    }
  }
}
.hidden-thumbnail {
  visibility: hidden;
  display: none;
}
canvas.threejs {
  position: absolute;
  left: 0;
  top: 0;
}
.footer {
  height: 164px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(12, 12fr);
  font-weight: 800;
  letter-spacing: 6%;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 16px;
  line-height: 1.1;
  height: 72px;
  margin-bottom: 24px;
  z-index: 200;
  @media screen and (max-width: 680px) {
    padding-top: 0;
  }
  a {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #fff;
    @media screen and (max-width: 680px) {
      color: #000;
    }
  }
  a:first-child {
    grid-column: 2/3;
  }
  a:nth-child(2) {
    grid-column: 3/4;
    @media screen and (max-width: 680px) {
      grid-column: 4/5;
    }
  }
  a:nth-child(3) {
    grid-column: 4/5;
    @media screen and (max-width: 680px) {
      grid-column: 5/6;
    }
  }
  &.white {
    background-color: #ffffff;
    position: fixed;
    padding-top: inherit;
    // animation: 0.9s footerBlendIn forwards;
    a {
      color: #000000;
    }
  }



  @media screen and (max-width: 842px) {
    position: relative;
  }
  @media screen and (max-width: 680px) {
    background-color: white;
    position: fixed;
  }
  p,
  .footer div .text-small {
    color: #fff;
    font-family: "Work Sans";
    font-weight: 500;
  }
  &.white p,
  .footer.white span,
  .footer div .text-small {
    color: #000;
  }
  div {
    grid-column: 2 / 4;
    @media screen and (max-width: $sm) {
      grid-column: 2 / 7;
    }
    .text-small {
      font-size: 8px;
      letter-spacing: 2%;
      text-transform: unset;
      padding-left: 15px;
    }
  }
  a {
    grid-column: 4 / 5;
    @media screen and (max-width: $sm) {
      grid-column: 9 / 10;
    }
    &:last-child {
      // grid-column: 5 / 6;
      @media screen and (max-width: $sm) {
        // grid-column: 11 / 12;
        grid-column: 6/7;
      }
    }
  }
}

@keyframes footerBlendIn {
  0% {
   opacity: 0.2;
   transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}


.wheel {
  transition: all 1.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  overflow: visible;
  margin-top: 17vh;

  height: 75vh;
  // background: red;
  height: 45vh;

  @media screen and (max-width: 1600px) {
    margin-top: 16.5vh;
  }
  @media screen and (max-width: 1300px) {
    height: 45vh;
    margin-top: 29.5vh;
    margin-top: 23.5vh;
  }
  @media screen and (max-width: 842px) {
    flex-wrap: wrap;
    margin-top: 80px;
    max-width: 335px;

    height: 100%;
    margin-left: 24px;
  }
  &-container {
    position: relative;
    display: block;
    width: 100%;
  }
  &--active {
    animation: 1.8s wheel-up forwards;
  }
  &__background {
    height: 300px;
    visibility: hidden;
    opacity: 0.1;
    transition: all 1.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-item {
    margin-left: 5%;
    cursor: none;
    width: 800px;
    display: block;

    @media screen and (max-width: 1300px) {
      width: 700px;
      margin: 32px 20px;
    }
    &--active {
      height: 100%;
      z-index: 5;
      width: 100%;
    }
    &__title {
      min-width: 398px;
      &-show {
        //animation: 0.9s simple-reveal forwards;
        animation: 0.9s push-down forwards;
      }
      &-hide {
        //animation: 0.9s simple-hide forwards;
        animation: 0.9s push-up forwards;
      }

      & .letter {
        opacity: 0;
      }
      &--reversed {
        animation: 0.9s push-up forwards;
        &-fast {
          animation: 0.3s push-up--fast forwards;
        }
      }
    }
    &__content {
      top: 45%;
      padding: 50px 0;

      @media screen and (max-width: $sm) {
        padding: 2rem;
      }
      &__button {
        cursor: pointer;
        margin-left: -160px;
      }
      &--active {
        width: 100%;
        display: flex;
        //top: -18vh;
        top: -22.8vh;
        left: 0;
        padding: inherit;
        z-index: 900;
        position: absolute;
        //margin-left: -2.1rem;
        animation-delay: 0.9s;
        opacity: 0;
        background-color: rgb(6, 6, 6);
        animation: 0.8s push-down--pull forwards;
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        //background: linear-gradient(#292936, #000000);
        &:first-child {
          margin-left: inherit;
        }
      }
    }
    &__image {
      //transition: 0.4s ease-out;
      width: 54vw;
      //box-shadow: 15px 17px 58px 0px rgba(0,0,0,0.50);
      //-webkit-box-shadow:-1px 1px 46px 2px rgb(14, 15, 16);
      //-moz-box-shadow:-1px 1px 46px 2px rgb(14, 15, 16);
      //box-shadow:-1px 1px 46px 2px rgb(14, 15, 16);
      //transform: scale(1.2);
      &:after {
        -webkit-box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 15px 17px 58px 0px rgba(0, 0, 0, 0.5);
      }
      @media screen and (max-width: $sm) {
        max-width: 66vw;
      }
      @media screen and (max-width: 786px) and (orientation: portrait) {
        width: 66vw;
        margin-left: -7vw;
      }
      &--hide {
        animation: 0.3s hide-left forwards;
        //animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &--show {
        animation: 0.7s show-left forwards;
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &--active {
        animation: 0.5s push-up forwards;
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }
}

html {
  cursor: none;
}
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: white;
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}
.swiper-container {
  width: 100%;
  height: 100%;
  @media screen and (max-width: 680px) {
    padding-bottom: 80px;
  }
}
.swiper-slide:not(.single-slide) {
  min-width: 200px;
  transition: all 0.2 cubic-bezier(0.645, 0.045, 0.355, 1);
  display: grid;
  justify-content: center;
  @media screen and (max-width: 1300px) {
    // max-width: 600px;
  }
  @media screen and (max-width: 860px) {
    justify-content: left;
  }
}
#view-ring,
#arrows {
  visibility: hidden;
  display: none;
  position: absolute;
}

.wheel {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
.swiper-slide:not(.single-slide) {
  // pointer-events: all;
  div .headline--xl {
    width: max-content;
  }
}
.swiper-slide:not(.swiper-slide-active, .single-slide) {
  div .headline--xl {
    @media screen and (min-width: 860px) {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
    }
    @media screen and (max-width: 860px) {
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1;
      text-transform: inherit;
      color: #fff;
      // -webkit-text-fill-color: #fff;
      // -webkit-text-stroke-color: transparent;

      letter-spacing: 0;
      line-height: 1;
      font-weight: 500;
      font-size: 38px;
      text-transform: uppercase;
    }
  }
}
.swiper-slide:not(.swiper-slide-active) {
  // pointer-events: none;
  // background: pink;
}
.swiper-slide-active:not(.single-slide) {
  &:hover {
    transform: translateX(10px);
  }
  div .headline--xl {
    color: #fff;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent;
  }
}
.swiper-slide:not(.swiper-slide-active, .swiper-slide-prev) {
  transform: perspective(500px) rotateY(44deg);
}
.swiper-slide-active:not(.single-slide) {
  transform: perspective(500px) rotateY(0deg);
}
.swiper-slide-next:not(.single-slide) {
  // background: red;
  transform: perspective(500px) rotateY(-24deg) translateX(-300px);
}
.swiper-slide-prev:not(.single-slide) {
  // background: blue;
  transform: perspective(500px) rotateY(24deg) translateX(300px);
  // transform: perspective(500px) rotateY(24deg) translateX(-90px) translateY(500px) translateZ(-600px);
}

.swiper-slide-prev,
.swiper-slide-next {
}
.controls__position {
}
.controls {
  z-index: 50;
}
.controls > button {
  bottom: 102vh;
  color: $color-text--main;
  cursor: pointer;
  letter-spacing: -1px;
  z-index: 40;
  &:hover {
    //color: $color--accent-light;
  }
  &:focus {
    outline: 0;
    cursor: pointer;
  }
  @media screen and (max-width: $sm) {
    bottom: 20rem;
  }
  &:first-child {
    left: 3rem;
  }
  &:last-child {
    right: 3rem;
  }
}

.loading-screen {
  margin-left: -4rem;
  transform-origin: left;
  background: linear-gradient(to right, #313131, #404040);
  //background:linear-gradient(to right, $color--accent, $color--accent-light);
}

.startscreen-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
  background: linear-gradient(to right, $color--accent, $color--accent-light);
  z-index: 900;
  top: 50vh;
  &--active {
    animation: 0.9s push-up forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes push-down {
  0% {
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
    clip-path: polygon(0 110%, 110% 110%, 110% 110%, 0 110%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
}
@keyframes push-up--startscreen {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  99% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}
@keyframes push-up {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 110%, 110% 110%, 100% 0, 0 0);
    clip-path: polygon(0 110%, 110% 110%, 110% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
    clip-path: polygon(0 1%, 110% 0, 110% 0, 0 0);
  }
}
@keyframes push-up--fast {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
  }
}

@keyframes push-down--pull {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(-90px);
  }
}

@keyframes hide-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

@keyframes show-left {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes push-left {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes wheel-up {
  0% {
  }
  100% {
    //transform: translateY(-100vh);
    margin-top: 0;
  }
}

@keyframes simple-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes simple-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
